.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 72px - 64px);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #f7f7f7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  background-image: url("../../assets/hero.png");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 0;
}

.content {
  position: relative;
  z-index: 3;
  color: #fff;
  margin-top: 0;
  max-width: 650px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 24px;
  white-space: nowrap;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: var(--white);
  margin-bottom: 48px;
}

.button {
  background: var(--button);
  color: var(--white);
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.button:hover {
  background: var(--button-hover);
}

/* Responsive */
@media (min-width: 1200px) {
  .container {
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 1440px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .content {
    margin-top: 0;
    max-width: 100%;
  }

  .title {
    font-size: 36px;
    white-space: normal;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .button {
    padding: 14px 40px;
    font-size: 14px;
  }
}
