.header {
  position: relative;
  z-index: 10;
  height: 72px;
  font-family: var(--font-family);
  background: var(--inputs);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: var(--main);
}

.trucks {
  color: var(--text);
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.activeLink {
  color: #e44848;
}

/* Responsive */
@media (max-width: 1440px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .logo {
    font-size: 20px;
  }

  .nav {
    gap: 12px;
    position: static;
    transform: none;
    margin-left: auto;
  }

  .link {
    font-size: 14px;
  }
}
