.footer {
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background: var(--inputs);
  width: 100%;
  max-width: 1440px;
  height: 64px;
  padding: 15px 64px;
}

.portfolioLink {
  color: var(--button);
  cursor: pointer;
  font-weight: 600;
  transition: color 0.2s;
  text-decoration: underline;
  text-decoration: none;
}

.portfolioLink:hover {
  color: var(--button-hover);
}

/* Responsive */
@media (max-width: 1440px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
